<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Middleman KSS Demo" %></title>

    <%= stylesheet_link_tag "global" %>
    <%= javascript_include_tag  "global" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <p>&copy; 2012 Chris Webb.</p>
  </body>

</html>